.App {
	text-align: center;
	padding: 0 auto;
}
.App-header {
	/* font-family: 'Comic Sans MS'; */
	background-color: #fff5d9;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: black;
	height: 100vh;
}
