.game-board {
	height: 90%;
	width: 100%;
}
.loading {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -60%);
	font-family: sans-serif;
	font-weight: normal;
}
.card-container {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(3, 1fr);
	max-width: 1000px;
	min-height: 500px;
	margin: auto;
}
.card {
	width: 120px;
	height: 120px;
	margin: auto;
}

.memory-card-up {
	pointer-events: none;
	border-radius: 5%;
	box-shadow: 0px 0px 5px #00000030;
	height: 100%;
	width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition-duration: 0.8s;
	transform-style: preserve-3d;
}
.memory-card-up > img {
	display: block;
	background-repeat: no-repeat;
	background-position: center;
	width: auto;
	height: 100%;
	margin: 0;
}
.memory-card-down {
	border-radius: 5%;
	box-shadow: 0px 0px 5px #00000030;
	background-color: white;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.memory-card-down > img {
	display: none;
	image-rendering: none;
}
