.hud {
	display: flex;
	justify-content: space-between;
	background-color: black;
	width: 100%;
	padding: 5px;
}
.hud-content {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}
.game-stats {
	min-width: 500px;
	/* background-color: darkorange; */
	display: flex;
	color: white;
	justify-content: start;
}
.game-stats > h2 {
	width: 250px;
	font-family: 'Press Start 2P';
	font-size: 1rem;
}
.health-bar {
	width: 500px;
	max-width: 1000px;
	display: flex;
	justify-content: right;
	align-items: center;
}

.hp {
	color: red;
	height: 30px;
	font-size: 2rem;
	padding-left: 10px;
}

@media only screen and (max-width: 600px) {
	.hud {
		display: block;
		width: 100vw;
	}
	.hud-content {
		width: 100vw;
	}
	.game-stats {
		width: 100vw;
	}
	.game-stats > h2 {
		width: 50vw;
		font-size: 0.8rem;
	}
	.health-bar {
		margin: 0 2vw;
	}
	.hp {
		padding-left: 0;
	}
}
