@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.start-screen {
	width: fit-content;
	margin: auto;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -60%);
	width: 400px;
}
h1 {
	font-family: 'Fredoka One';
	font-size: 3rem;
}

li {
	text-align: left;
	margin: 1em;
}

button {
	font-family: 'Press Start 2P';
	font-weight: bold;
	font-size: 1rem;
	height: 3rem;
	padding: 0 2rem;
	border-radius: 1.5rem;
	background-color: transparent;
	border: none;
	box-shadow: 0px 0px 10px #00000030;
	margin-top: 2rem;
}
button:active {
	box-shadow: inset 0px 0px 5px #00000030;
}
